ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  header 
  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 245, 245)
      ;
      background-color: rgb(202, 71, 71);
      padding: 0% 2% 0% 2%;

  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  body{ font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 243, 243);}
    image{
        float: right;

        
    }