
<header>
  <div style="text-align:center">
    <h1>
      Welcome to student {{ title }}!
    </h1>
  </div>
</header>
<body>
  <section>
    <nav id="navbar">
      <ul>
        <li><a href="#">HOME</a></li>
        
        <li><a href="https://c1abi602.caspio.com/dp/1A107000d910012db7e944858fd4">RENTAL GALLERY</a> </li>
        <li><a href="#">ABOUT US</a> </li>
        <li><a href ="https://www.classifieds.co.zw/en/zimbabwe-houses-to-rent-222"></a> <li>
        <li><a href="#">CONTACT US</a> </li>
        <li><a href="https://c1abi602.caspio.com/dp/1A10700094500e1b56b94532a433">LANDLORD LOGIN</a> </li>
        <li><a href="#">ADMIN</a> </li>
      </ul>
    </nav>
  </section>
</body>
<aside></aside>
<img class="img-responsive" src="assets/images/Picture1.png">


<router-outlet></router-outlet>
<!--<button class="btn btn-primary">Test Button</button>
  -->